.layout-admin {
  /* Overall Layout Styles */
  font-family: "Helvetica Neue", Arial, sans-serif; /* Modern font */
  line-height: 1.6; /* Improved readability */
  color: #333; /* Darker text for better contrast */

  .admin-header {
    /* Header Styles */
    background-color: #f0f2f5; /* Light gray background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-bottom: none; /* Remove the default border */
    padding: 0 20px; /* Increased padding for more space */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000; /* Đảm bảo header nằm trên các phần khác */


    .trigger {
      /* Sidebar Toggle Icon */
      font-size: 18px;
      cursor: pointer;
      transition: color 0.3s; /* Smooth color transition on hover */

      &:hover {
        color: #1890ff; /* Highlight color on hover */
      }
    }

    .ant-dropdown-trigger {
      /* User Dropdown */
      color: #333; /* Darker text color */

      &:hover {
        color: #1890ff; /* Highlight color on hover */
      }
    }
  }

  .ant-layout-sider {
    /* Sidebar Styles */
    background-color: #fff; /* White background for a clean look */
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1); /* Subtle shadow on the right */

    .ant-menu {
      /* Sidebar Menu */
      border-right: none; /* Remove the default border */

      .ant-menu-item-selected {
        /* Selected Menu Item */
        background-color: #e6f7ff; /* Light blue background */
        color: #1890ff;
      }
    }
  }

  .ant-layout-content {
    /* Content Area */
    padding: 20px; /* Increased padding for better spacing */
    border-radius: 4px; /* Slightly rounded corners */
  }
}

